fieldset
{
    border: top 1px;
}
.rightpic
{
    float: right;
    margin: 0 0 5px 5px;
}
.t1
{
    border-spacing: 20px;
}
.tm
{
    background: rgb(105, 105, 105);
}


.navbar {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    position: fixed; 
    top: 0; 
    width: 98.9%; 
}


.navbar a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.navbar a:hover {
    background: #ddd;
    color: black;
}

.main {
    margin-top: 30px;
}
